        <section id="view-pagamento" class="view">
            <div class="payment-selection-container">
                <h1>Escolha a Forma de Pagamento:</h1>

                <div class="payment-cards-grid">
                    <div class="pay-option-card pix-card" id="pay-btn-pix">
                        <div class="pix-logo-mock">pix</div>
                        <span>Pix</span>
                    </div>
                    <div class="pay-option-card card-mock credit" id="pay-btn-credit">
                        <div class="chip-card"></div>
                        <div class="card-type-label">CREDIT CARD</div>
                        <span>Crédito</span>
                    </div>
                    <div class="pay-option-card card-mock debit" id="pay-btn-debit">
                        <div class="chip-card"></div>
                        <div class="card-type-label">DEBIT CARD</div>
                        <span>Débito</span>
                    </div>
                </div>

                <div id="payment-contextual-area" class="payment-detail-box hidden"></div>
            </div>
        </section>
