        <section id="view-servicos" class="view">
            <div class="servicos-header">
                <h1>Serviços</h1>
            </div>
            <div id="services-categories-display" class="services-list-grid">
                <p class="loading-text">Carregando menu de serviços...</p>
            </div>
            <div class="services-action-footer">
                <button class="btn-orange-filled wide-btn" id="btn-go-to-cart-view">Agendar Agora</button>
            </div>
        </section>
